.tabs {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 38px;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid var(--border);
  box-sizing: border-box;

  color: var(--text);
  background-color: var(--bg);

  &::-webkit-scrollbar {
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
  }

  .tab-item {
    display: inline-flex;
    padding: 8px 10px 6px;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    align-items: center;
    border-bottom: 3px solid transparent;

    &.actived {
      color: skyblue;
      border-bottom: 3px solid skyblue;
    }
    &:hover {
      background-color: var(--file);
    }
  }
}

.tabs-item-input {
  width: 90px;
  padding: 4px 0 4px 10px;
  font-size: 13px;

  color: #444;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.tabs-item-name {
  text-wrap: nowrap;
  white-space: nowrap;
}

.tabs-item-close {
  margin-left: 5px;
}

.add {
  display: flex;
  align-items: center;
  padding: 0px 12px 5px 8px;
  height: 100%;
  position: sticky;
  right: 0px;
  z-index: 9;
  background-color: inherit;
  font-size: 16px;
  box-shadow: -4px 0 8px var(--box-shadow);

  cursor: pointer;
  &:hover {
    color: skyblue;
  }
}

.remove {
  border-radius: 50%;
  &:hover {
    background-color: var(--delete);
  }
}

.hightlight {
  border-left: 2px solid var(--primary);
  margin-left: -2px;
}
