.base {
  --icon: #76c8e6;
}

.light {
  @extend .base;
  --text: #444;
  --bg: #fff;
  --border: #ccc;
  --box-shadow: #00000054;
  --primary: #00d8fe;
  --dialog: #fff;
  --file: #f0f0f0;
  --delete: #ccc;
}

.dark {
  @extend .base;
  --text: #fff;
  --bg: #1a1a1a;
  --border: #383838;
  --box-shadow: #0000;
  --primary: #00d8fe;
  --dialog: #2a2a2a;
  --file: #242424;
  --delete: #e0e0e060;
}

.wrapper {
  height: 100vh;

  .contentWrapper {
    height: calc(100vh - 50px);
  }
}
