.base {
  --primary: #00d8fe;
}

.light {
  @extend .base;
  --text: #444;
  --bg: #fff;
  --border: #ccc;
  --dialog: #fff;
  --file: #f0f0f0;
  --delete: #ccc;
  --box-shadow: #00000015;
  --shortcut-bg: #bebcbcb3;
  --shortcut-shadow: #00000020;
  --filename: #444;
  --activefile: #000;
}

.dark {
  @extend .base;
  --text: #fff;
  --bg: #1a1a1a;
  --border: #383838;
  --dialog: #2a2a2a;
  --file: #242424;
  --delete: #e0e0e060;
  --box-shadow: #1e1e1e;
  --shortcut-bg: #2d2c2c;
  --shortcut-shadow: #e0e0e060;
  --filename: #ccc;
  --activefile: #fff;
}

.wrapper {
  height: 100vh;

  .contentWrapper {
    height: calc(100vh - 50px);
  }
}
